<div class="">
  <div class="card py-5 d-flex overflow-auto">
    <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 flex-nowrap">
      <li class="nav-item">
        <a class="nav-link text-primary me-6" routerLink="profile" routerLinkActive="active">
          الملف الشخصي
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-primary m-0" routerLink="changePassword" routerLinkActive="active">
          تغيير كلمه المرور
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-primary me-6" routerLink="licenses" routerLinkActive="active">
          التراخيص
        </a>
      </li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>
