<!--begin::Card widget 17-->
<div [ngClass]="cssClass" class="h-100"
  style="background-image: url('../../../../../../../../assets/images/icons/Taieri.svg'); background-position: left top; background-size: 35%; background-repeat: no-repeat;">


  <!--begin::Card body-->
  <div class="card-body pt-2 pb-4 d-flex justify-content-between align-items-lg-center h-100">


    <!--begin::Labels-->
    <div class="d-flex flex-column content-justify-center flex-row-fluid py-8 col-8 position-relative z-2 gap-4 ">
      <!--begin::Stats-->
      <h3 class="text-white mb-3">مرحبا بعودتك {{username}}! </h3>
      <!--end::Stats-->
      <p class="text-white-50 mb-3">يمكنك متابعه تطور موقعك و زياده عدد الزوار . اخر احصائيه للزوار هى :</p>
      <span>{{userLenghth}}</span>
    </div>
    <!--end::Label-->

  </div>
  <!--end::Card body-->
</div>
<!--end::Card widget 17-->
