<ng-container>
  <div class="menu-item px-3">
    <div class="menu-content d-flex align-items-center px-3">
      <div class="symbol symbol-50px me-5">

        <ng-container *ngIf="user?.profilePicture; else defaultIcon">
          <img [src]="assets + user.profilePicture" width="35" height="35" class="rounded rounded-pill" />
        </ng-container>
        
        <ng-template #defaultIcon>
          <i class="fa-solid fa-user" style="    width: 35px;
          height: 35px;
          display: flex
      ;
          justify-content: center;
          align-items: center;
          font-size: 20px;"></i>
        </ng-template>
      </div>

      <div class="d-flex flex-column mx-2">
        <div class="fw-bolder d-flex align-items-center fs-5">
          {{user?.fullName}}
        </div>
        <a class="fw-bold text-muted fs-7">
          {{user?.email}}
        </a>
      </div>
    </div>
  </div>

  <div class="separator my-2"></div>

  <div class="menu-item px-5 my-1">
    <a [routerLink]="['/account']" class="menu-link px-5">
      الملف الشخصي
    </a>
  </div>

  <div class="menu-item px-5">
    <a (click)="logout()" class="menu-link px-5 cursor-pointer"> تسجيل خروج </a>
  </div>
</ng-container>
