<section>
  <div class="d-flex justify-content-between align-items-center mb-10">
    <div class="d-flex align-items-center gap-5">
      <span class="text-primary fs-3">{{ title }}</span>
      <p-iconField iconPosition="right">
        <p-inputIcon styleClass="pi pi-search" />
        <input type="text" class="w-md-400px w-sm-300px" pInputText placeholder="ابحث هنا" />
      </p-iconField>
    </div>
    <button type="button" class="btn second-color d-flex gap-2 align-items-center" (click)="exportPDF()">
      <i class="bi bi-box-arrow-down text-white p-0"></i>
      <span>تصدير</span>
    </button>
  </div>

  <div class="d-flex align-items-center gap-3 flex-wrap">
    <button type="button" class="btn second-color d-flex gap-3" data-action="create" [routerLink]="['/users/add-user']">
      <img src="assets/images/icons/add-user.svg" alt="add-user" />
      <span>إضافة مستخدم</span>
    </button>
    <div class="min-w-200px">
      <p-dropdown [options]="management" [(ngModel)]="selectedManagement" optionLabel="name" placeholder="الإدارة" />
    </div>
    <div class="min-w-200px">
      <p-dropdown [options]="department" [(ngModel)]="selectedDepartment" optionLabel="name" placeholder="القسم" />
    </div>
    <div class="min-w-200px">
      <p-dropdown [options]="status" [(ngModel)]="selectedStatus" optionLabel="name" placeholder="الحالة" />
    </div>
  </div>

  <div class="table-responsive">
    <div class="table-responsive mt-5">
      <table class="table align-middle gs-0 gy-4">
        <thead>
          <tr class="text-gray-600 bg-gray-300">
            <th class="min-w-125px">الإسم</th>
            <th class="min-w-125px">المسمي الوظيفي</th>
            <th class="min-w-125px">إدارة</th>
            <th class="min-w-125px">القسم</th>
            <th class="min-w-125px">الحالة</th>
            <th class="min-w-125px">الإجراءات</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-primary">
            <td>احمد محمد محمد</td>
            <td>موظف استقبال</td>
            <td>إدارة</td>
            <td>القسم الإدارى</td>
            <td>نشط</td>
            <td>
              <div class="dropdown">
                <button class="btn dropdown-toggle px-2 p-0" type="button" id="actionsDropdown"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-three-dots text-primary p-0 fs-4"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="actionsDropdown">
                  <li>
                    <button class="dropdown-item py-2">
                      <div class="row justify-content-start">
                        <div class="col-2">
                          <i class="bi bi-pencil-square"></i>
                        </div>
                        <div class="col-4">تعديل</div>
                      </div>
                    </button>
                  </li>
                  <li>
                    <button class="dropdown-item py-2" (click)="openModal(formModal2)">
                      <div class="row justify-content-start">
                        <div class="col-2">
                          <i class="bi bi-bell"></i>
                        </div>
                        <div class="col-4">إشعار</div>
                      </div>
                    </button>
                  </li>
                  <li>
                    <button class="dropdown-item py-2">
                      <div class="row justify-content-start">
                        <div class="col-2">
                          <i class="bi bi-person-circle"></i>
                        </div>
                        <div class="col-4">سجل المستخدم</div>
                      </div>
                    </button>
                  </li>
                  <li>
                    <button class="dropdown-item py-2" (click)="openModal(formModal1)">
                      <div class="row justify-content-start">
                        <div class="col-2">
                          <i class="bi bi-ban text-danger"></i>
                        </div>
                        <div class="col-4">حظر</div>
                      </div>
                    </button>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
          <tr class="text-primary">
            <td>احمد محمد محمد</td>
            <td>موظف استقبال</td>
            <td>إدارة</td>
            <td>القسم الإدارى</td>
            <td>نشط</td>
            <td>
              <div class="dropdown">
                <button class="btn dropdown-toggle px-2 p-0" type="button" id="actionsDropdown"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-three-dots text-primary p-0 fs-4"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="actionsDropdown">
                  <li>
                    <button class="dropdown-item py-2">
                      <div class="row justify-content-start">
                        <div class="col-2">
                          <i class="bi bi-pencil-square"></i>
                        </div>
                        <div class="col-4">تعديل</div>
                      </div>
                    </button>
                  </li>
                  <li>
                    <button class="dropdown-item py-2" (click)="openModal(formModal2)">
                      <div class="row justify-content-start">
                        <div class="col-2">
                          <i class="bi bi-bell"></i>
                        </div>
                        <div class="col-4">إشعار</div>
                      </div>
                    </button>
                  </li>
                  <li>
                    <button class="dropdown-item py-2">
                      <div class="row justify-content-start">
                        <div class="col-2">
                          <i class="bi bi-person-circle"></i>
                        </div>
                        <div class="col-4">سجل المستخدم</div>
                      </div>
                    </button>
                  </li>
                  <li>
                    <button class="dropdown-item py-2" (click)="openModal(formModal1)">
                      <div class="row justify-content-start">
                        <div class="col-2">
                          <i class="bi bi-ban text-danger"></i>
                        </div>
                        <div class="col-4">حظر</div>
                      </div>
                    </button>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="paginator-div d-flex justify-content-center align-items-center">
      <p-paginator [totalRecords]="totalRecords" (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
        [rowsPerPageOptions]="[10, 25, 50, 100]" />
    </div>
  </div>
</section>

<ng-template #formModal1 let-modal>
  <form (ngSubmit)="blockUser()">
    <div class="modal-header border-0">
      <h4 class="modal-title fw-normal text-primary">حظر المستخدم</h4>
    </div>

    <div class="modal-body py-0">
      <div class="d-flex flex-column mw-650px" id="kt_modal_update_customer_scroll">
        <div>
          <label class="text-gray-900 fs-6 form-label">سبب الحظر</label>
          <textarea class="form-control" [formControl]="block" rows="3"></textarea>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'برجاء ادخال سبب الحظر',
              control: block
            }"></ng-container>
        </div>
      </div>
    </div>

    <div class="modal-footer flex-end border-0">
      <button type="button" class="btn btn-secondary py-2" ngbAutofocus (click)="modal.dismiss('Cross click')">
        <span class="indicator-label">إغلاق</span>
      </button>
      <button type="submit" class="btn btn-primary py-2" [attr.data-kt-indicator]="isLoading ? 'on' : 'off'">
        <span class="indicator-label">إرسال</span>
        <span class="indicator-progress">
          يرجى الانتظار...
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </button>
    </div>
  </form>
</ng-template>

<ng-template #formModal2 let-modal>
  <form [formGroup]="noticeForm" (ngSubmit)="noticeUser()">
    <div class="modal-header border-0">
      <h4 class="modal-title fw-normal text-primary">إشعار المستخدم</h4>
    </div>

    <div class="modal-body py-0">
      <div class="d-flex flex-column mw-650px" id="kt_modal_update_customer_scroll">
        <div class="mb-5">
          <label class="text-gray-900 fs-6 form-label">العنوان</label>
          <input type="text" class="form-control" formControlName="title" />
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'برجاء ادخال العنوان ',
              control: noticeForm.controls['title']
            }"></ng-container>
        </div>
        <div class="mb-5">
          <label class="text-gray-900 fs-6 form-label">المحتوي</label>
          <textarea class="form-control" formControlName="content" rows="3"></textarea>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'برجاء ادخال المحتوي ',
              control: noticeForm.controls['content']
            }"></ng-container>
        </div>
        <div class="mb-5 d-flex gap-5">
          <label class="text-gray-900 fs-6 form-label">رسالة نصية</label>
          <p-inputSwitch formControlName="msg" />
        </div>
        <div class="d-flex gap-5">
          <label class="text-gray-900 fs-6 form-label">النظام</label>
          <p-inputSwitch formControlName="system" />
        </div>
      </div>
    </div>

    <div class="modal-footer flex-end border-0">
      <button type="button" class="btn btn-secondary py-2" ngbAutofocus (click)="modal.dismiss('Cross click')">
        <span class="indicator-label">إغلاق</span>
      </button>
      <button type="submit" class="btn btn-primary py-2" [attr.data-kt-indicator]="isLoading ? 'on' : 'off'">
        <span class="indicator-label">إرسال</span>
        <span class="indicator-progress">
          يرجى الانتظار...
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </button>
    </div>
  </form>
</ng-template>

<!--control error msg -->
<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="
      control.hasError(validation) &&
      (control.dirty || (control.touched && control.errors))
    ">
    <div class="fv-plugins-message-container">
      <span class="text-danger" role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>