<div class="table-responsive">
  <table class="table align-middle gs-0 gy-4">
    <thead>
      <tr class="text-muted bg-light">
        <th class="ps-4 min-w-325px rounded-end">اسم المزار</th>
        <th class="min-w-125px">مٌدخل البيانات</th>
        <th class="min-w-125px">تاريخ الادخال</th>
        <th class="min-w-125px">التقييم</th>
        <th class="min-w-200px text-end rounded-start"></th>
      </tr>
    </thead>
    <tbody *ngIf="allPlaces.length > 0; else noDataTemplate">
      <tr *ngFor="let place of allPlaces">
        <td>
          <div class="d-flex align-items-center">
            <div class="mx-5 rounded-3 overflow-hidden" style="width:70px; height:70px;">
              <img class="w-100 h-100" *ngIf="place.images && place.images.length > 0; else defaultImage"
                [src]="place.images[0]" alt="image">
              <ng-template #defaultImage>
                <img class="w-100 h-100" src="assets/images/img/Group.png" alt="default image">
              </ng-template>
            </div>
            <div class="d-flex justify-content-start flex-column">
              <a class="text-gray-900 text-hover-primary mb-1 fs-6">
                {{place.name}}
              </a>
              <span class="text-muted text-muted d-block fs-6">التصنيف: {{place.classification | textPipe}}</span>
            </div>
          </div>
        </td>
        <td>
          <a class="text-gray-900 text-hover-primary d-block mb-1 fs-6">
            {{place.createdByName}}
          </a>
        </td>
        <td>
          <a class="text-gray-900 text-hover-primary d-block mb-1 fs-6">
            {{ place.createdAt | date:'d/M/yyyy' }}
          </a>
        </td>
        <td>
          <a class="text-gray-900 text-hover-primary d-block mb-1 fs-6">
            <p-rating [(ngModel)]="place.rate" [readonly]="true" [cancel]="false" />
          </a>
        </td>
        <td>
          <div class="dropdown actions text-end">
            <button class="btn dropdown-toggle actions-button py-3 px-5 mx-5" type="button" id="actionsDropdown"
              data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-ellipsis-v p-0 text-primary"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="actionsDropdown">
              <li>
                <button class="dropdown-item" routerLink="/places/edit-place/{{place.id}}">
                  <div class="row justify-content-start gap-2">
                    <div class="col-2">
                      <i class="bi bi-pencil-square"></i>
                    </div>
                    <div class="col-4">تعديل</div>
                  </div>
                </button>
              </li>
              <li>
                <button class="dropdown-item" (click)="openDeleteSwal(place.id)">
                  <div class="row justify-content-start gap-2">
                    <div class="col-2">
                      <i class="bi bi-trash" style="color: red;"></i>
                    </div>
                    <div class="col-4">مسح</div>
                  </div>
                </button>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>

    <!-- قالب الرسالة عند عدم وجود بيانات -->
    <ng-template #noDataTemplate>
      <tr>
        <td colspan="5" class="text-muted py-3 fs-3">
          <strong>لا يوجد مزارات لعرضها</strong>
        </td>
      </tr>
    </ng-template>

  </table>
</div>
