<div class="headerContainer d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center gap-10">
        <h3 class="text-muted fw-normal">المسميات الوظيفيه</h3>
        <h3 class="fw-normal">سجل التوقيع</h3>
    </div>
    <button type="button" class="btn second-color d-flex gap-2 align-items-center" (click)="exportPDF()">
        <i class="bi bi-box-arrow-down text-white p-0"></i>
        <span>تصدير</span>
    </button>
</div>
<div class="shadow mt-10">
    <div class="card py-5 d-flex overflow-auto">
        <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 flex-nowrap">
            <li class="nav-item">
                <a class="nav-link text-primary me-6" routerLink="watched" routerLinkActive="active">
                    المشاهدين
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-primary me-6" routerLink="Unwatched" routerLinkActive="active">
                    الغير مشاهدين
                </a>
            </li>
        </ul>
    </div>
</div>

<router-outlet></router-outlet>