<section class="card mb-12">
  <div class="card-header border-0 pt-5 px-10">
    <div class="card-title m-0 align-items-start flex-column">
      <span class="mb-3 text-gray-900 fs-3">
        سياسه الخصوصيه و شروط الاستخدام
      </span>
    </div>
  </div>
  <div class="card-body border-0 p-9">
    <form class="form" [formGroup]="termsFormGroup" (ngSubmit)="submitForm()">
      <div class="row p-4">
        <div class="col-lg-6 fv-row mb-8 form-check">
          <input class="form-check-input" type="checkbox" id="using" (change)="setTermType('using', $event)"
            [checked]="termsFormGroup.get('termType')?.value === 1">
          <label class="text-gray-700 fs-4" for="using">
            شروط استخدام
          </label>
        </div>
        <div class="col-lg-6 fv-row mb-8 form-check">
          <input class="form-check-input" type="checkbox" id="privacy" (change)="setTermType('privacy', $event)"
            [checked]="termsFormGroup.get('termType')?.value === 2">
          <label class="text-gray-700 fs-4" for="privacy">
            سياسة الخصوصية
          </label>
        </div>
      </div>

      <div class="col-lg-12 fv-row mb-8">
        <!-- <label for="que" class="mb-2 text-gray-600"> المصطلح (اللغه العربيه) </label> -->
        <input id="que" formControlName="titleAr" type="text" class="form-control form-control-lg" placeholder="المصطلح"
          name="titleAr" />
        <div *ngIf="termsFormGroup.get('titleAr')?.invalid && termsFormGroup.get('titleAr')?.touched"
          class="text-danger">
          <small *ngIf="titleAr?.hasError('required')">
            برجاء ادخال المصطلح
          </small>
          <!-- <small *ngIf="titleAr?.hasError('englishNotAllowed')">
            برجاء ادخال المصطلح باللغة العربية
          </small> -->
        </div>
      </div>
      <div class="mb-8 col-lg-12 fv-row">
        <p-editor formControlName="descriptionAr" [style]="{ height: '320px'}" />
        <div *ngIf="termsFormGroup.get('descriptionAr')?.invalid && termsFormGroup.get('descriptionAr')?.touched"
          class="text-danger">
          <small *ngIf="termsFormGroup.get('descriptionAr')?.hasError('required')">
            برجاء ادخال وصف المصطلح
          </small>
        </div>
      </div>
      <!-- <div class="col-lg-12 fv-row mb-8">
        <label for="queEn" class="mb-2 text-gray-600"> المصطلح (اللغه الانجليزية) </label>
        <input id="queEn" (keydown)="blockArabicLetters($event)" formControlName="titleEn" type="text"
          class="form-control form-control-lg" placeholder="المصطلح" name="titleEn" />
        <div *ngIf="termsFormGroup.get('titleEn')?.invalid && termsFormGroup.get('titleEn')?.touched"
          class="text-danger">
          <small *ngIf="titleEn?.hasError('required')">
            برجاء ادخال المصطلح
          </small>
          <small *ngIf="titleEn?.hasError('arabicNotAllowed')">
            برجاء ادخال المصطلح باللغة الانجليزية
          </small>
        </div>
      </div> -->
      <!-- <div class="mb-8 col-lg-12 fv-row">
        <p-editor formControlName="descriptionEn" [style]="{ height: '320px'}" />
        <div *ngIf="termsFormGroup.get('descriptionEn')?.invalid && termsFormGroup.get('descriptionEn')?.touched"
          class="text-danger">
          <small *ngIf="termsFormGroup.get('descriptionEn')?.hasError('required')">
            برجاء ادخال وصف المصطلح
          </small>
        </div>
      </div> -->



      <div class="d-flex justify-content-end mt-4">
        <button type="submit" class="btn btn-primary px-15">
          {{ isEditMode ? 'تحديث' : 'حفظ' }}
        </button>
      </div>
    </form>
  </div>
</section>
<section class="card">

  <div class="card-body d-flex flex-column justify-content-end p-9">
    <app-cards-widget20 [data]="allTermsAndPrivacy" (deleteEvent)="deleteTermAndPrivcy($event)"
      (editEvent)="editData($event)"></app-cards-widget20>
  </div>
</section>
<swal #successSwal [swalOptions]="{ showCancelButton: false, confirmButtonText: 'موافق' }" title="تم الاضافة بنجاح!"
  text="" icon="success" [customClass]="{confirmButton: 'btn btn-primary'}">
</swal>
<swal #deleteSwal [swalOptions]="swalOptions" title="حدث خطأ!" icon="error"
  [customClass]="{confirmButton: 'btn btn-danger'}" [showCancelButton]="false">
</swal>
