<div class="shadow">
    <div class="card py-5 d-flex overflow-auto">
        <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 flex-nowrap">
            <li class="nav-item">
                <a class="nav-link text-primary me-6" routerLink="management-details" routerLinkActive="active">
                    تفاصيل الاداره
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-primary me-6" routerLink="adding-section" routerLinkActive="active">
                    اضافه قسم
                </a>
            </li>
        </ul>
    </div>
</div>

<router-outlet></router-outlet>