h3.title{
  font-weight: 500;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: 0px;
  }
  span.detail{
    font-family: Tajawal;
    font-weight: 500;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0%;
    color:#b5b5c3;
  }
  ::ng-deep .p-editor-container {
    margin-bottom: 20px;
  }
  label{
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: 0px;
  }
  