<div class="card">
  <div class="card-header border-0 pt-5 px-10">
    <div class="card-title m-0 align-items-start flex-column">
      <span class="mb-3 text-gray-900 fs-3">المزارات السياحيه علي الخريطه</span>
      <small class="text-gray-500">أكثر من 400 مزار سياحي</small>
    </div>
    <div class="d-flex align-items-center gap-3">
      <button type="button" class="btn btn-primary d-flex gap-3" routerLink="/location/add-map">
        <img src="assets/images/icons/add-user.svg" alt="add-user">
        <span>إضافة موقع جديد</span>
      </button>
    </div>
  </div>

  <div class="card-body py-5 px-10">
    <div class="table-responsive">
      <table class="table align-middle gs-0 gy-4">
        <thead>
          <tr class="text-muted bg-light">
            <th class="ps-4 min-w-125px rounded-end">اسم المزار</th>
            <th class="min-w-125px">نوع المزار</th>
            <th class="min-w-125px">الموقع</th>
            <th class="min-w-125px">الوصف</th>
            <th class="min-w-200 text-end rounded-start"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let map of maps">
            <td>
              <a class="text-gray-900 text-hover-primary mb-1 fs-6 cursor-pointer mx-5">
                {{ map.name }}
              </a>
            </td>
            <td>
              <a class="text-gray-900 text-hover-primary mb-1 fs-6 cursor-pointer d-flex gap-3">
                <img [src]="map.classification | imagePipe" alt="icon" width="20">
                {{ map.classification | textPipe }}
              </a>
            </td>
            <td>
              <a class="text-gray-900 text-hover-primary d-block mb-1 fs-6 cursor-pointer">
                {{ map.coordinates.latitude }} / {{map.coordinates.longitude}}
              </a>
            </td>
            <td style="max-width: 250px;">
              <a class="desc text-gray-900 text-hover-primary d-block mb-1 fs-6 cursor-pointer">
                {{ map.description }}
              </a>
            </td>
            <td>
              <div class="dropdown actions text-end">
                <button class="btn dropdown-toggle actions-button py-3 px-5 mx-5" type="button" id="actionsDropdown"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-solid fa-ellipsis-v p-0 text-primary"></i>
                </button>
                <!-- <ul class="dropdown-menu" aria-labelledby="actionsDropdown">
                  <li>
                    <button class="dropdown-item">
                      <div class="row justify-content-start gap-2">
                        <div class="col-2">
                          <i class="bi bi-eye"></i>
                        </div>
                        <div class="col-4">التفاصيل</div>
                      </div>
                    </button>
                  </li>
                  <li>
                    <button class="dropdown-item" routerLink="/location/edit-map/1">
                      <div class="row justify-content-start gap-2">
                        <div class="col-2">
                          <i class="bi bi-pencil-square"></i>
                        </div>
                        <div class="col-4">تعديل</div>
                      </div>
                    </button>
                  </li>
                  <li>
                    <button class="dropdown-item" (click)="openDeleteSwal(map.id)">
                      <div class="row justify-content-start gap-2">
                        <div class="col-2">
                          <i class="bi bi-trash" style="color: red;"></i>
                        </div>
                        <div class="col-4">مسح</div>
                      </div>
                    </button>
                  </li>
                </ul> -->
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="paginator-div d-flex justify-content-end align-items-center">
      <p-paginator (onPageChange)="onPageChange($event)" [totalRecords]="40" [first]="first" [rows]="rows"
        [rowsPerPageOptions]="[10, 25, 50,100]" />
    </div>
  </div>
</div>


<swal #deleteSwal [swalOptions]="swalOptions" title="هل أنت متأكد من الحذف؟" text="لا يمكن التراجع عن هذا"
  icon="warning" [showCancelButton]="true" [focusCancel]="true" (confirm)="triggerDelete()"
  [customClass]="{confirmButton: 'btn btn-danger', cancelButton: 'btn btn-active-light'}">
</swal>

<swal #successSwal [swalOptions]="{ showCancelButton: false, confirmButtonText: 'موافق' }" title="تم الحذف بنجاح!"
  text="" icon="success" [customClass]="{confirmButton: 'btn btn-success'}">
</swal>
