<div class="headerContainer d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center gap-10">
        <h3 class="text-muted fw-normal">المسميات الوظيفيه</h3>
        <h3 class="fw-normal">عرض الوظيفه</h3>
    </div>
    <button type="button" class="btn second-color d-flex gap-2 align-items-center" (click)="exportPDF()">
        <i class="bi bi-box-arrow-down text-white p-0"></i>
        <span>تصدير</span>
    </button>
</div>
<div class="data-info">
    <div>
        <div class="mb-5 py-5 text-center shadow rounded-3 fw-bold d-flex align-items-center justify-content-center">
            <h3>ممرض طوارئ</h3>
        </div>
        <div class="table-responsive border rounded-4">
            <!-- begin::Table -->
            <table class="table align-middle gs-0 gy-4 mb-0">
                <!-- begin::Table body -->
                <tbody>
                    <tr class="indicator-datainfo">
                        <td class="data-name text-gray-800">الاداره</td>
                        <td class="data-detail">الاداره التنفيذيه للمجمعات</td>
                    </tr>
                    <tr class="indicator-datainfo">
                        <td class="data-name text-gray-800">القسم</td>
                        <td class="data-detail">القسم الفنى</td>
                    </tr>
                    <tr class="indicator-datainfo">
                        <td class="data-name text-gray-800">الوظيفه</td>
                        <td class="data-detail">ممرض طوارئ</td>
                    </tr>
                    <tr class="indicator-datainfo">
                        <td class="data-name text-gray-800">الرقم</td>
                        <td class="data-detail">121</td>
                    </tr>
                    <tr class="indicator-datainfo">
                        <td class="data-name text-gray-800">الفئه</td>
                        <td class="data-detail">___</td>
                    </tr>
                    <tr class="indicator-datainfo">
                        <td class="data-name text-gray-800">المسؤل المباشر</td>
                        <td class="data-detail">
                            <span>رئيس التمريض</span>
                        </td>
                    </tr>
                    <tr class="indicator-datainfo">
                        <td class="data-name text-gray-800">تاريخ المراجعه</td>
                        <td class="data-detail d-flex align-items-center gap-3">
                            <span>23-03-2024</span>
                            <span>5:00 PM</span>
                        </td>
                    </tr>
                    <tr class="indicator-datainfo">
                        <td class="data-name text-gray-800">تاريخ الانشاء</td>
                        <td class="data-detail d-flex align-items-center gap-3">
                            <span>23-03-2024</span>
                            <span>5:00 PM</span>
                        </td>
                    </tr>
                    <tr class="indicator-datainfo">
                        <td class="data-name text-gray-800">المسؤلون تجاهه</td>
                        <td class="data-detail">
                            <span>سكرتير عام</span>
                        </td>
                    </tr>
                    <tr class="indicator-datainfo">
                        <td class="data-name text-gray-800">المسؤليه الرئيسيه</td>
                        <td class="data-detail">
                            <span>المسؤول عن تدعيم الإدارة التنفيذية من خلال إدارة الجداول
                                الزمنية وتنظيم المواعيد وإعداد المذكرات وإجراء المراسلات وحضور
                                الاجتماعات وتحرير المحاضر، وإعداد وتقديم تقارير العمل .
                            </span>
                        </td>
                    </tr>
                    <tr class="indicator-datainfo">
                        <td class="data-name text-gray-800">المسؤليات</td>
                        <td class="data-detail">
                            <ul>
                                <li>إدارة العمليات اليومية للمكتب التنفيذي ، بما في ذلك جدولة المواعيد والاجتماعات
                                    وترتيبات السفر</li>
                                <li>إعداد جدول الأعمال للمدير التنفيذي وتوزيع جداول الاجتماعات والمحاضر والوثائق الأخرى
                                    عند الحاجة مع المساعدة في تخطيط المواعيد</li>
                                <li>العمل كنقطة الاتصال ووسيط بين فريق الإدارة التنفيذية والجهات الداخلية / الخارجية
                                </li>
                                <li>إعداد والحفاظ على الملفات والسجلات والتقارير والتعامل مع المعلومات السرية بأقصى
                                    درجات الحرص والاحترافية</li>
                                <li>تنسيق ومتابعة بنود العمل الناتجة عن الاجتماعات وحضور الاجتماعات بالنيابة عن المدير
                                    التنفيذي</li>
                                <li>تنسيق ومراقبة مشاريع ومواعيد فريق الإدارة التنفيذية</li>
                                <li>التعامل مع المراسلات الصادرة والواردة وترتيبها حسب الأولويات</li>
                                <li>مراقبة اللوازم المكتبية والتفاوض مع الجهة المختصة لضمان أكثر الطلبات فعالية من حيث
                                    التكلفة</li>
                                <li>الحفاظ على السجلات الإلكترونية والورقية وضمان تنظيم المعلومات بحيث يمكن الوصول إليها
                                    بسهولة</li>
                                <li>إجراء البحوث وإعداد العروض التقديمية والتقارير عند الطلب</li>
                                <li>الحفاظ على موقف احترافي وإيجابي في جميع الأوقات</li>
                            </ul>
                        </td>
                    </tr>
                    <tr class="indicator-datainfo">
                        <td class="data-name text-gray-800">
                            يتضمن عمله الشهرى اشياء اخرى
                        </td>
                        <td class="data-detail">
                            <span>لا يوجد</span>
                        </td>
                    </tr>
                    <tr class="indicator-datainfo">
                        <td class="data-name text-gray-800">خبره عمليه</td>
                        <td class="data-detail">
                            <span>خبرة لا تقل عن 2 سنوات .</span>
                        </td>
                    </tr>
                    <tr class="indicator-datainfo">
                        <td class="data-name text-gray-800">اللغات</td>
                        <td class="data-detail">
                            <span>عربي / انجليزي .</span>
                        </td>
                    </tr>
                    <tr class="indicator-datainfo">
                        <td class="data-name text-gray-800">المؤهلات المطلوبه</td>
                        <td class="data-detail">
                            <span>بكالوريوس / دبلوم .</span>
                        </td>
                    </tr>
                    <tr class="indicator-datainfo">
                        <td class="data-name text-gray-800">الثقافه والمزايا الشخصيه</td>
                        <td class="data-detail">
                            <ul>
                                <li>العمل الجماعي</li>
                                <li>المثابرة</li>
                                <li>التنظيم</li>
                                <li>تحقيق الأهداف/النتائج</li>
                                <li>التطوير الذاتي</li>
                                <li>تنظيم الاجتماعات الخاصة</li>
                                <li>تفسير الكتابة اليدوية</li>
                                <li>توثيق الاستلام والتسليم</li>
                                <li>حزمة برامج التحرير</li>
                                <li>تصنيف الوثائق</li>
                            </ul>
                        </td>
                    </tr>
                    <tr class="indicator-datainfo">
                        <td class="data-name text-gray-800">
                            الحد الادنى من المهارات المطلوبه
                        </td>
                        <td class="data-detail">
                            <span> دبلوم .</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- end::Table -->
        </div>
    </div>
    <h5 class="fw-bold mt-5 mb-10">اقر أنا الموقع أدناه بأنني استلمت نسخة من الوصف الوظيفي الخاص بي وتم شرحه ومناقشته من
        قبل رئيسي المباشر</h5>
    <div class="signtureContainer d-flex flex-wrap align-items-center gap-20">
        <div class="signtureOne d-flex flex-column gap-4">
            <h5 class="fs-4">توقيع الموظف</h5>
            <span class="fs-4">الاسم : ...............................................................</span>
            <span class="fs-4">التاريخ : ...............................................................</span>
        </div>
        <div class="signtureTwo d-flex flex-column gap-4">
            <h5 class="fs-4">توقيع الرئيس المباشر</h5>
            <span class="fs-4">الاسم : ...............................................................</span>
            <span class="fs-4">التاريخ : ...............................................................</span>
        </div>
    </div>
</div>