<div class="card d-flex justify-content-center">
  <div class="card">
    <div class="card-header py-5 px-10 justify-content-between align-items-center">
      <h3 class="card-title m-0 text-gray-900 fs-3">{{editMode? 'تعديل' : 'إضافة'}} مزار</h3>
      <a class="text-gray-900 fs-3 d-flex align-items-center back-icon" routerLink="/places">عودة <i
          class="pi pi-angle-left fs-3"></i></a>
    </div>

    <div class="card-body border-0">
      <form class="form" [formGroup]="formGroup" (ngSubmit)="submitPlace()">
        <p-stepper [linear]="true">
          <!-- 1 -->
          <p-stepperPanel header="المعلومات الاساسية">
            <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
              <div class="d-flex flex-column">
                <div class="col-lg-12 fv-row mb-8">
                  <label class="form-label">اسم المزار</label>
                  <input type="text" class="form-control" formControlName="name" placeholder="اسم المزار" />
                  <div *ngIf="formGroup.get('name')?.invalid && formGroup.get('name')?.touched" class="text-danger">
                    برجاء ادخال اسم المزار
                  </div>
                </div>

                <div class="mb-8 d-flex gap-12 flex-wrap">
                  <p class="text-gray-600 fs-5 m-0">نوع المزار</p>
                  <div *ngFor="let type of types" class="field-checkbox d-flex gap-3">
                    <p-radioButton [value]="type.value" formControlName="classification" />
                    <img [src]="type?.icon" class="px-2" width="30" alt="type.label" />
                    <label class="fs-5 text-gray-600">
                      {{ type.label }}
                    </label>
                  </div>
                  <div *ngIf="formGroup.get('classification')?.invalid && formGroup.get('classification')?.touched"
                    class="text-danger">
                    برجاء ادخال نوع المزار
                  </div>
                </div>

                <div class="mb-8 d-flex gap-3">
                  <p-checkbox class="fs-5 text-gray-600 gap-3" [binary]="true" label="من أشهر المزارات"
                    formControlName="isTopSite" />
                </div>

                <div class="col-lg-12 fv-row mb-8">
                  <label class="form-label">المنطقة أو المحافظة</label>
                  <p-dropdown [options]="governments" optionLabel="name" optionValue="id" formControlName="governateId"
                    placeholder="المنطقة أو المحافظة" />
                  <div *ngIf="formGroup.get('governateId')?.invalid && formGroup.get('governateId')?.touched"
                    class="text-danger">
                    برجاء اختيار المنطقة أو المحافظة
                  </div>
                </div>

                <div class="col-lg-12 fv-row mb-8">
                  <label class="form-label">ملخص عن الموقع و أهميته</label>
                  <p-editor formControlName="description" [style]="{ height: '320px' }"></p-editor>
                  <div *ngIf="formGroup.get('description')?.invalid && formGroup.get('description')?.touched"
                    class="text-danger">
                    برجاء ادخال ملخص عن الموقع واهميته
                  </div>
                </div>

                <div class="col-lg-12 fv-row mb-10">
                  <label class="form-label">تاريخ الإنشاء أو الاكتشاف</label>
                  <p-editor formControlName="creationDate" [style]="{ height: '320px' }"></p-editor>
                  <div *ngIf="formGroup.get('creationDate')?.invalid && formGroup.get('creationDate')?.touched"
                    class="text-danger">
                    برجاء ادخال تاريخ الإنشاء أو الاكتشاف
                  </div>
                </div>

                <div class="d-flex align-items-center gap-12 mb-10">
                  <label class="fs-5 text-gray-600">الخدمات</label>
                  <div class="d-flex gap-5">
                    <ng-container *ngFor="let category of categories">
                      <p-checkbox class="fs-5 text-gray-600 gap-3" [binary]="true" [label]="category.name"
                        [formControlName]="category.key" [value]="category.value" />
                    </ng-container>
                    <div *ngIf="formGroup.get('category.key')?.invalid && formGroup.get('category.key')?.touched"
                      class="text-danger">
                      برجاء ادخال الخدمات
                    </div>
                  </div>
                </div>

                <div class="mb-8">
                  <div class="d-flex align-items-center gap-12">
                    <label class="fs-5 text-gray-600">التصميم و الصيانه</label>
                    <div *ngFor="let type of types2" class="field-checkbox d-flex gap-3">
                      <p-radioButton [value]="type.value" formControlName="restorationAndMaintenance" />
                      <label class="fs-5 text-gray-600">
                        {{ type.label }}
                      </label>
                    </div>
                  </div>
                  <div
                    *ngIf="formGroup.get('restorationAndMaintenance')?.invalid && formGroup.get('restorationAndMaintenance')?.touched"
                    class="text-danger">
                    برجاء ادخال التصميم والصيانه
                  </div>
                </div>
              </div>

              <div class="d-flex pt-4 justify-content-end">
                <p-button label="التالي" iconPos="right" (onClick)="nextCallback.emit(); showMap();" />
              </div>
            </ng-template>
          </p-stepperPanel>


          <!-- 2 -->
          <p-stepperPanel header="المعلومات الجغرافية">
            <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback"
              let-index="index">
              <div class="d-flex flex-column">

                <div #mapContainer id="map" class="mb-8" style="height: 400px; width: 100%;overflow: hidden;"></div>

                <div class="col-lg-12 fv-row mb-8">
                  <label class="form-label">المساحة الإجمالية (م)</label>
                  <input type="number" class="form-control" formControlName="totalArea"
                    placeholder="المساحة الإجمالية (م)">
                  <div *ngIf="formGroup.get('totalArea')?.invalid && formGroup.get('totalArea')?.touched"
                    class="text-danger">
                    برجاء ادخال المساحة الإجمالية (م)
                  </div>
                </div>

                <div class="row" formGroupName="coordinates">
                  <div class="col-lg-6 fv-row mb-8">
                    <label class="form-label">خط العرض</label>
                    <input type="number" placeholder="خط العرض" class="form-control" formControlName="latitude">
                    <div
                      *ngIf="formGroup.get('coordinates.latitude')?.invalid && formGroup.get('coordinates.latitude')?.touched"
                      class="text-danger">
                      برجاء ادخال خط العرض
                    </div>
                  </div>

                  <div class="col-lg-6 fv-row mb-8">
                    <label class="form-label">خط الطول</label>
                    <input type="number" placeholder="خط الطول" class="form-control" formControlName="longitude">
                    <div
                      *ngIf="formGroup.get('coordinates.longitude')?.invalid && formGroup.get('coordinates.longitude')?.touched"
                      class="text-danger">
                      برجاء ادخال خط الطول
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6 fv-row mb-8">
                    <label class="form-label">إضافة رابط 360</label>
                    <input type="text" class="form-control form-control-lg" formControlName="_360ViewUrl"
                      placeholder="إضافة رابط 360">
                  </div>

                  <div class="col-lg-6 fv-row mb-8">
                    <label class="form-label">إضافة رابط VR</label>
                    <input type="text" class="form-control form-control-lg" formControlName="vrUrl"
                      placeholder="إضافة رابط VR">
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6 fv-row mb-8">
                    <label class="form-label">مناطق الجذب الرئيسيه</label>
                    <p-multiSelect class="w-100 mb-8" [options]="attractions" formControlName="siteLinkAttractions"
                      optionValue="id" optionLabel="name" placeholder="مناطق الجذب الرئيسيه" />
                  </div>

                  <div class="col-lg-6 fv-row mb-8">
                    <label class="form-label">أقرب المطارات</label>
                    <p-multiSelect class="w-100 mb-8" [options]="airports" formControlName="airports" optionValue="id"
                      optionLabel="name" placeholder="أقرب المطارات" />
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6 fv-row mb-8">
                    <label class="form-label">محطات التنقل الرئيسيه</label>
                    <p-multiSelect class="w-100 mb-8" [options]="trans" formControlName="siteLinkTransportations"
                      optionValue="id" optionLabel="name" placeholder="محطات التنقل الرئيسيه" />
                  </div>

                  <div class="col-lg-6 fv-row mb-8">
                    <label class="form-label">المسافه من أقرب مدينه (كم)</label>
                    <input type="text" class="form-control" formControlName="nearestCity"
                      placeholder="المسافه من أقرب مدينه" />
                    <div *ngIf="formGroup.get('nearestCity')?.invalid && formGroup.get('nearestCity')?.touched"
                      class="text-danger">
                      برجاء ادخال المسافة من اقرب مدينة
                    </div>
                  </div>
                </div>
              </div>

              <div class="d-flex pt-4 justify-content-between">
                <p-button label="السابق" (onClick)="prevCallback.emit()" />
                <p-button label="التالي" iconPos="right" (onClick)="nextCallback.emit()" />
              </div>
            </ng-template>
          </p-stepperPanel>


          <!-- 3 -->
          <p-stepperPanel header="المحتوي التفاعلي">
            <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback"
              let-index="index">
              <div class="d-flex flex-column">
                <app-file-input label="إضافة صور" imgPath="assets/images/img/picture.svg" [acceptMultiple]="true"
                  (fileSelected)="onImagesSelected($event)">
                </app-file-input>

                <div class="d-flex align-items-center justify-content-center flex-wrap gap-5 mb-8"
                  *ngIf="imagesList.length">
                  <div class="rounded-3 overflow-hidden position-relative" style="width: 200px; height: 150px;"
                    *ngFor="let item of imagesList; let i = index">
                    <img [src]="item" class="w-100 h-100" alt="img">
                    <a class="position-absolute px-2 pt-1 text-black rounded-circle cursor-pointer"
                      style="left:5px; top:5px; background-color: rgba(238, 238, 238, 0.741);"
                      (click)="this.imagesList.splice(i, 1);">
                      <i class="pi pi-times fs-8"></i>
                    </a>
                  </div>
                </div>

                <app-file-input label="إضافة فيديو" imgPath="assets/images/img/video.svg" [acceptMultiple]="false"
                  accept="video/mp4" (fileSelected)="onVideoSelected($event)">
                </app-file-input>

                <div class="mb-8" *ngIf="uploadedVideo">
                  <div class="rounded-3 overflow-hidden position-relative mx-auto" style="width: 300px;height: 150px;">
                    <video [src]="uploadedVideo" class="w-100" style="height: 150px;" controls></video>
                    <a class="position-absolute px-2 pt-1 text-black rounded-circle cursor-pointer"
                      style="left:5px; top:5px; background-color: rgba(238, 238, 238, 0.741);"
                      (click)="this.uploadedVideo='';">
                      <i class="pi pi-times fs-8"></i>
                    </a>
                  </div>
                </div>

                <app-file-input label="إضافة ملفات صوتيه" imgPath="assets/images/img/record.svg"
                  [acceptMultiple]="false" accept="audio/mp3, audio/wav, video/mp4, video/avi"
                  (fileSelected)="onAudioSelected($event)">
                </app-file-input>

                <div class="mb-5" *ngIf="uploadedAudio">
                  <div class="rounded-3 overflow-hidden mx-auto w-md-300px w-100 pt-2">
                    <a class="px-2 pt-1 text-black rounded-circle cursor-pointer"
                      style="background-color: rgba(238, 238, 238, 0.741);" (click)="this.uploadedAudio=''">
                      <i class="pi pi-times fs-8"></i>
                    </a>
                    <audio [src]="uploadedAudio" class="w-100" controls></audio>
                  </div>
                </div>

                <div class="col-lg-12 fv-row mb-8">
                  <label class="form-label">اضافه رابط QR</label>
                  <input type="text" class="form-control form-control-lg" formControlName="qrCode"
                    placeholder="اضافه رابط QR">
                </div>
              </div>

              <div class="d-flex pt-4 justify-content-between">
                <p-button label="السابق" (onClick)="prevCallback.emit(); showMap()" />
                <p-button label="التالي" iconPos="right" (onClick)="nextCallback.emit()" />
              </div>
            </ng-template>
          </p-stepperPanel>


          <!-- 4 -->
          <p-stepperPanel header="المعلومات الثقافية والتاريخية">
            <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback"
              let-index="index">
              <div class="d-flex flex-column">
                <div class="col-lg-12 fv-row mb-8">
                  <p-editor formControlName="historicalInfo" [style]="{ height: '320px' }"
                    placeholder="المعلومات التاريخية والثقافية" />
                  <div *ngIf="formGroup.get('historicalInfo')?.invalid && formGroup.get('historicalInfo')?.touched"
                    class="text-danger">
                    برجاء ادخال المعلومات التاريخية والثقافية
                  </div>
                </div>

                <div class="col-lg-12 fv-row mb-8">
                  <label class="form-label">الأساطير</label>
                  <p-editor formControlName="myths" [style]="{ height: '320px' }" placeholder="الأساطير" />
                </div>

                <div class="col-lg-12 fv-row mb-8">
                  <label class="form-label">تاريخ البناء</label>
                  <p-calendar inputId="calendar-12h" formControlName="constructionDate" [showIcon]="true"
                    [showTime]="true" hourFormat="12" [style]="{width: '100%;'}">
                  </p-calendar>
                </div>

                <div formArrayName="researches">
                  <div class="col-lg-12 d-flex align-items-center gap-10 mb-8">
                    <label class="form-label">المراجع و الابحاث</label>
                    <a class="cursor-pointer" (click)="addResearch()">
                      <i class="pi pi-plus-circle fs-5"></i>
                    </a>
                  </div>
                  <div class="d-flex align-items-center mb-8"
                    *ngFor="let research of researches.controls; let i = index">
                    <div class="row gap-lg-0 gap-8 position-relative w-100" [formGroupName]="i">
                      <div class="col-lg-6 fv-row">
                        <input type="text" formControlName="title" class="form-control" placeholder="العنوان" />
                      </div>
                      <div class="col-lg-6 fv-row">
                        <app-file-input class="pdf-input" label="اضافه ملفات pdf " imgPath="assets/images/img/pdf.svg"
                          [acceptMultiple]="false" accept="application/pdf" (fileSelected)="onPdfSelected($event, i)">
                        </app-file-input>

                        <div class="rounded-3 mt-4 overflow-hidden" *ngIf="research.get('url')?.value">
                          <a [href]="research.get('url')?.value" target="_blank"><i
                              class="pi pi-file-pdf mx-3"></i>{{research.get('title')?.value}}</a>
                        </div>
                      </div>
                    </div>
                    <a class="mx-4 cursor-pointer" (click)="removeResearch(i)">
                      <i class="pi pi-trash text-danger"></i>
                    </a>
                  </div>
                </div>
              </div>

              <div class="d-flex pt-4 justify-content-between">
                <p-button label="السابق" (onClick)="prevCallback.emit()" />
                <p-button label="التالي" iconPos="right" (onClick)="nextCallback.emit()" />
              </div>
            </ng-template>
          </p-stepperPanel>


          <!-- 5 -->
          <p-stepperPanel header="المرافق والخدمات">
            <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback"
              let-index="index">
              <div class="d-flex flex-column">
                <div class="col-lg-12 fv-row mb-8">
                  <label class="form-label">افضل وقت للزيارة</label>
                  <input type="text" class="form-control" formControlName="bestSeason" placeholder="افضل وقت للزياره" />
                  <div *ngIf="formGroup.get('bestSeason')?.invalid && formGroup.get('bestSeason')?.touched"
                    class="text-danger">
                    برجاء ادخال افضل وقت للزيارة
                  </div>
                </div>

                <div class="col-lg-12 fv-row mb-8">
                  <label class="form-label">ساعات الزيارة</label>
                  <input type="text" class="form-control" formControlName="visitingHours" placeholder="ساعات الزيارة" />
                  <div *ngIf="formGroup.get('visitingHours')?.invalid && formGroup.get('visitingHours')?.touched"
                    class="text-danger">
                    برجاء ادخال ساعات الزيارة
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6 fv-row mb-8">
                    <label class="form-label">سعر التذكرة</label>
                    <input type="text" class="form-control" formControlName="ticketPrice" placeholder="سعر التذكره" />
                  </div>
                  <div class="col-lg-6 fv-row mb-8">
                    <label class="form-label">رابط الإشتراك</label>
                    <input type="text" class="form-control" formControlName="subscriptionUrl"
                      placeholder="رابط الإشتراك" />
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6 fv-row mb-8">
                    <label class="form-label">التنقل</label>
                    <select class="form-select" formControlName="transportationId">
                      <option [value]="null" disabled selected>التنقل</option>
                      <option value="0">طائرة</option>
                      <option value="1">سيارة</option>
                      <option value="2">حافلة</option>
                      <option value="3">قطار</option>
                      <option value="4">دراجة</option>
                    </select>
                  </div>

                  <div class="col-lg-6 fv-row mb-8">
                    <label class="form-label">رابط الاشتراك</label>
                    <input type="text" class="form-control" formControlName="transportationUrl"
                      placeholder="رابط الاشتراك" />
                  </div>
                </div>

                <div class="col-lg-12 fv-row mb-8">
                  <label class="form-label">الزي المناسب</label>
                  <input type="text" class="form-control" formControlName="suitableClothes"
                    placeholder="الزي المناسب" />
                  <div *ngIf="formGroup.get('suitableClothes')?.invalid && formGroup.get('suitableClothes')?.touched"
                    class="text-danger">
                    برجاء ادخال الزي المناسب
                  </div>
                </div>

                <div class="d-flex align-items-center justify-content-between">
                  <p-checkbox class="fs-5 text-gray-600 mb-8 gap-3" label="مرشد سياحي" [formControl]="tourGuideEnabled"
                    [binary]="true" (onChange)="change()">
                  </p-checkbox>

                  <div class="fv-row mb-8" style="width: 89%;">
                    <input type="text" class="form-control" placeholder="رابط الاشتراك" formControlName="tourGuideUrl">
                    <div *ngIf="formGroup.get('tourGuideUrl')?.invalid && formGroup.get('tourGuideUrl')?.touched"
                      class="text-danger">
                      برجاء ادخال رابط الاشتراك
                    </div>
                  </div>
                </div>

              </div>
              <div class="d-flex pt-4 justify-content-between">
                <p-button label="السابق" (onClick)="prevCallback.emit()" />
                <p-button label="التالي" iconPos="right" (onClick)="nextCallback.emit()" />
              </div>
            </ng-template>
          </p-stepperPanel>


          <!-- 6 -->
          <p-stepperPanel header="الامن والسلامة">
            <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
              <div class="d-flex flex-column">
                <div formGroupName="safetyInfo">
                  <div class="col-lg-12 fv-row mb-8">
                    <label class="form-label">العنوان</label>
                    <input type="text" class="form-control" formControlName="title" placeholder="العنوان" />
                    <div
                      *ngIf="formGroup.get('safetyInfo.title')?.invalid && formGroup.get('safetyInfo.title')?.touched"
                      class="text-danger">
                      برجاء ادخال العنوان
                    </div>
                  </div>

                  <div class="col-lg-12 fv-row mb-8">
                    <label class="form-label">الإرشادات</label>
                    <p-editor formControlName="description" [style]="{ height: '320px' }"></p-editor>
                    <div
                      *ngIf="formGroup.get('safetyInfo.description')?.invalid && formGroup.get('safetyInfo.description')?.touched"
                      class="text-danger">
                      برجاء ادخال الإرشادات
                    </div>
                  </div>

                  <app-file-input label="فيديو / صوره" imgPath="assets/images/img/picture.svg"
                    (fileSelected)="onVideoOrImageSelected($event)">
                  </app-file-input>

                  <div class="mb-8" *ngIf="uploadedVideoOrImage">
                    <div class="rounded-3 overflow-hidden position-relative mx-auto" style="width: 300px;height: 160px;"
                      *ngIf="uploadedVideoOrImage.split('.').pop() === 'mp4'">
                      <video [src]="uploadedVideoOrImage" class="w-100" controls></video>
                      <a class="position-absolute px-2 pt-1 text-black rounded-circle cursor-pointer"
                        style="left:5px; top:5px; background-color: rgba(238, 238, 238, 0.741);"
                        (click)="this.uploadedVideoOrImage='';">
                        <i class="pi pi-times fs-8"></i>
                      </a>
                    </div>
                    <div class="rounded-3 overflow-hidden position-relative mx-auto" style="width: 300px;height: 160px;"
                      *ngIf="uploadedVideoOrImage.split('.').pop() !== 'mp4'">
                      <img [src]="uploadedVideoOrImage" class="w-100 h-100" alt="img">
                      <a class="position-absolute px-2 pt-1 text-black rounded-circle cursor-pointer"
                        style="left:5px; top:5px; background-color: rgba(238, 238, 238, 0.741);"
                        (click)="uploadedVideoOrImage='';">
                        <i class="pi pi-times fs-8"></i>
                      </a>
                    </div>
                  </div>
                </div>

                <div formArrayName="emergencyContacts">
                  <div class="col-lg-12 d-flex align-items-center gap-10 mb-8">
                    <label class="form-label">جهات اتصال الطوارئ</label>
                    <a class="cursor-pointer" (click)="addContact()">
                      <i class="pi pi-plus-circle fs-5"></i>
                    </a>
                  </div>
                  <div class="d-flex align-items-center mb-8"
                    *ngFor="let contact of emergencyContacts.controls; let i = index">
                    <div class="row gap-lg-0 gap-8 position-relative w-100" [formGroupName]="i">
                      <div class="col-lg-6 fv-row">
                        <input type="text" formControlName="name" class="form-control" placeholder="الإسم" />
                      </div>

                      <div class="col-lg-6 fv-row">
                        <input type="text" formControlName="phoneNumber" class="form-control"
                          placeholder="رقم الهاتف" />
                      </div>
                    </div>
                    <a class="mx-4 cursor-pointer" (click)="removeContact(i)">
                      <i class="pi pi-trash text-danger"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="d-flex pt-4 justify-content-between">
                <p-button label="السابق" (onClick)="prevCallback.emit()" />
                <p-button label="حفظ" type="submit" />
              </div>
            </ng-template>
          </p-stepperPanel>
        </p-stepper>
      </form>
    </div>
  </div>


  <swal #successSwal2 [swalOptions]="{ showCancelButton: false, confirmButtonText: 'موافق' }" title="تم التحميل!"
    text="" icon="success" [customClass]="{confirmButton: 'btn btn-primary'}">
  </swal>
  <swal #successSwal [swalOptions]="{ showCancelButton: false, confirmButtonText: 'موافق' }" title="تم الاضافة بنجاح!"
    text="" icon="success" [customClass]="{confirmButton: 'btn btn-primary'}">
  </swal>
  <swal #deleteSwal [swalOptions]="swalOptions" title="حدث خطأ!" icon="error"
    [customClass]="{ confirmButton: 'btn btn-danger' }" [showCancelButton]="false">
  </swal>