<div class="d-flex justify-content-between align-items-center bgi-no-repeat rounded-top px-9  mt-10 mb-6">
  <h3 class="text-gray-900">
    الإشعارات
  </h3>
  <span class="seeMore cursor-pointer" [routerLink]="['/allNotifications']">رؤيه المزيد</span>
</div>

<div class=" px-2 mb-6">
  <ul class="nav nav-pills mb-3 p-0" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
        type="button" role="tab" aria-controls="pills-home" aria-selected="true">الجميع</button>
    </li>
    <li class="nav-item mx-4" role="presentation">
      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
        type="button" role="tab" aria-controls="pills-profile" aria-selected="false">غير مقرؤه</button>
    </li>
  </ul>

  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
      tabindex="0">
      <!-- begin::Body-->
      <div class="card-body scroll-y mh-325px my-5 px-4">
        <!-- begin::Item-->
        <!-- <div class="d-flex align-items-sm-center mb-7 active-notify py-2"> -->
          <!-- begin::Symbol-->
          <!-- <div class="symbol symbol-50px me-5">
            <span class="symbol-label">
              <img src="../../../../../../../assets/images/avatar/download 1.png" class="w-100 align-self-center"
                alt="" />
            </span>
          </div> -->
          <!-- end::Symbol-->
          <!-- <div class="d-flex align-items-center flex-row-fluid flex-wrap">
            <div class="flex-grow-1 me-2"><a href="#" class="text-gray-900 notification-title"> Top
                Authors Mark, Rowling, Esther</a>
              <span class="d-block notification-date ">20-1-2024</span>
            </div>
            <span class="active-natification mx-2"></span>
          </div> -->
          <!-- end::Item-->

        <!-- </div> -->
        <!-- end::Item-->
        <!-- begin::Item-->
        <!-- <div class="d-flex align-items-sm-center mb-7 py-2"> -->
          <!-- begin::Symbol-->
          <!-- <div class="symbol symbol-50px me-5">
            <span class="symbol-label">
              <img src="../../../../../../../assets/images/avatar/download 1.png" class="w-100 align-self-center"
                alt="" />
            </span>
          </div> -->
          <!-- end::Symbol-->
          <!-- <div class="d-flex align-items-center flex-row-fluid flex-wrap">
            <div class="flex-grow-1 me-2"><a href="#" class="text-gray-900 notification-title"> Top
                Authors Mark, Rowling, Esther</a>
              <span class="d-block notification-date ">20-1-2024</span>
            </div>
            <span class="active-natification"></span>
          </div> -->
          <!-- end::Item-->

        <!-- </div> -->
        <!-- end::Item-->
        <!-- begin::Item-->
        <!-- <div class="d-flex align-items-sm-center mb-7 py-2"> -->
          <!-- begin::Symbol-->
          <!-- <div class="symbol symbol-50px me-5">
            <span class="symbol-label">
              <img src="../../../../../../../assets/images/avatar/download 1.png" class="w-100 align-self-center"
                alt="" />
            </span>
          </div> -->
          <!-- end::Symbol-->
          <!-- <div class="d-flex align-items-center flex-row-fluid flex-wrap">
            <div class="flex-grow-1 me-2"><a href="#" class="text-gray-900 notification-title"> Top
                Authors Mark, Rowling, Esther</a>
              <span class="d-block notification-date ">20-1-2024</span>
            </div>
            <span class="active-natification"></span>
          </div> -->
          <!-- end::Item-->
        <!-- </div> -->
        <!-- end::Item-->
        <!-- begin::Item-->
        <!-- <div class="d-flex align-items-sm-center mb-7 active-notify py-2"> -->
          <!-- begin::Symbol-->
          <!-- <div class="symbol symbol-50px me-5">
            <span class="symbol-label">
              <img src="../../../../../../../assets/images/avatar/download 1.png" class="w-100 align-self-center"
                alt="" />
            </span>
          </div> -->
          <!-- end::Symbol-->
          <!-- <div class="d-flex align-items-center flex-row-fluid flex-wrap">
            <div class="flex-grow-1 me-2"><a href="#" class="text-gray-900 notification-title"> Top
                Authors Mark, Rowling, Esther</a>
              <span class="d-block notification-date ">20-1-2024</span>
            </div>
            <span class="active-natification mx-2"></span>
          </div> -->
          <!-- end::Item-->

        <!-- </div> -->
        <!-- end::Item-->
      </div>
      <!-- end::Body-->
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
      <!-- begin::Body-->
      <div class="card-body scroll-y mh-325px my-5 px-4">
        <!-- begin::Item-->
        <!-- <div class="d-flex align-items-sm-center mb-7 active-notify py-2"> -->
          <!-- begin::Symbol-->
          <!-- <div class="symbol symbol-50px me-5">
            <span class="symbol-label">
              <img src="../../../../../../../assets/images/avatar/download 1.png" class="w-100 align-self-center"
                alt="" />
            </span>
          </div> -->
          <!-- end::Symbol-->
          <!-- <div class="d-flex align-items-center flex-row-fluid flex-wrap">
            <div class="flex-grow-1 me-2"><a href="#" class="text-gray-900 notification-title"> Top
                Authors Mark, Rowling, Esther</a>
              <span class="d-block notification-date ">20-1-2024</span>
            </div>
            <span class="active-natification mx-2"></span>
          </div> -->
          <!-- end::Item-->

        <!-- </div> -->
        <!-- end::Item-->
        <!-- begin::Item-->
        <!-- <div class="d-flex align-items-sm-center mb-7 active-notify  py-2"> -->
          <!-- begin::Symbol-->
          <!-- <div class="symbol symbol-50px me-5">
            <span class="symbol-label">
              <img src="../../../../../../../assets/images/avatar/download 1.png" class="w-100 align-self-center"
                alt="" />
            </span>
          </div> -->
          <!-- end::Symbol-->
          <!-- <div class="d-flex align-items-center flex-row-fluid flex-wrap">
            <div class="flex-grow-1 me-2"><a href="#" class="text-gray-900 notification-title"> Top
                Authors Mark, Rowling, Esther</a>
              <span class="d-block notification-date ">20-1-2024</span>
            </div>
            <span class="active-natification"></span>
          </div> -->
          <!-- end::Item-->

        <!-- </div> -->
        <!-- end::Item-->
        <!-- begin::Item-->
        <!-- <div class="d-flex align-items-sm-center mb-7 active-notify  py-2"> -->
          <!-- begin::Symbol-->
          <!-- <div class="symbol symbol-50px me-5">
            <span class="symbol-label">
              <img src="../../../../../../../assets/images/avatar/download 1.png" class="w-100 align-self-center"
                alt="" />
            </span>
          </div> -->
          <!-- end::Symbol-->
          <!-- <div class="d-flex align-items-center flex-row-fluid flex-wrap">
            <div class="flex-grow-1 me-2"><a href="#" class="text-gray-900 notification-title"> Top
                Authors Mark, Rowling, Esther</a>
              <span class="d-block notification-date ">20-1-2024</span>
            </div>
            <span class="active-natification"></span>
          </div> -->
          <!-- end::Item-->
        <!-- </div> -->
        <!-- end::Item-->
        <!-- end::Body-->
      </div>
      <!-- end::Body-->
    </div>
  </div>
</div>
