<div class="card">
  <div class="card-header border-0 pt-5 px-10 justify-content-between align-items-center">
    <h3 class="card-title m-0 text-gray-900 fs-3">تحسين محركات البحث</h3>
    <a class="text-gray-900 fs-3 d-flex align-items-center back-icon" routerLink="/settings">عودة <i
        class="pi pi-angle-left fs-3"></i></a>
  </div>

  <div class="card-body px-10">
    <form [formGroup]="seoForm" (ngSubmit)="submitForm()">
      <div class="my-3">
        <input type="text" class="form-control" placeholder="الكلمات الدالة" [formControl]="keyword"
          (keydown.enter)="onPress($event)" />
      </div>
      <ng-container *ngFor="let key of seoForm?.get('keywordsAr')?.value; let i = index">
        <p-chip [label]="key" [removable]="true" class="px-1" (click)="removeKeyword(i)" />
      </ng-container>
      <div class="my-3">
        <input type="text" class="form-control" placeholder="عنوان الفوقية" formControlName="metaTitleAr" />
      </div>
      <div class="mb-3">
        <textarea class="form-control" rows="3" placeholder="الوصف التعريفي"
          formControlName="metaDescriptionAr"></textarea>
      </div>

      <div class="d-flex justify-content-end mt-8">
        <button type="submit" class="btn btn-primary px-15" [disabled]="seoForm.invalid">
          <span *ngIf="!isLoading">حفظ</span>
          <span *ngIf="isLoading">
            يرجى الانتظار...
            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
          </span>
        </button>
      </div>
    </form>
  </div>
</div>

<swal #successSwal2 [swalOptions]="{ showCancelButton: false, confirmButtonText: 'موافق' }"
  title="تم تعديل محركات البحث بنجاح!" text="" icon="success" [customClass]="{confirmButton: 'btn btn-primary'}">
</swal>
