::ng-deep .p-dropdown {
    width: 100%;
    border-color: var(--bs-gray-300);
    border-radius: 0.475rem;
    &:not(.p-disabled):hover {
        border-color: #dbdfe9;
    }
}

::ng-deep .p-dropdown-label {
    padding: 0.775rem;
}

::ng-deep .p-dropdown.p-focus,
::ng-deep .p-dropdown:focus {
    border-color: rgb(95, 2, 161) !important;
    box-shadow: 0 0 0 0.25rem rgba(76, 0, 130, 0.25) !important;
}

::ng-deep .p-dropdown-panel ul {
    padding: 0;
}
