
<section>
  <div class="row flex-lg-row-reverse vh-100">
    <div class="col-lg-6 d-flex order-2 order-lg-1">
      <div class="d-flex flex-center flex-column flex-lg-row-fluid w-100">
        <div class="<?php echo $params['wrapperClass']?> login-content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  
    <div class="col-lg-6 pe-0 d-flex order-1 order-lg-2 align-items-center h-100 my-10 my-lg-0">
      <div class="login-img"></div>
    </div>
  </div>
</section>