button {
  padding: 12px 20px;
  background-color: #129fa5;
  border: none;
  border-radius: 9px;
  color: #fff;
}
p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -2%;
  text-align: center;
}
