<div class="card mt-15">
    <div class="card-body p-10">
        <form [formGroup]="formPassword" (ngSubmit)="submitPasswordForm()">
            <!-- password -->
            <div class="row align-items-center g-3 mb-8">
                <div class="col-lg-2">
                    <label class="fs-6 text-gray-800">كلمة المرور القديمة</label>
                </div>
                <div class="col-lg-8 position-relative">
                    <input [type]="isHide ? 'password' : 'text'" class="form-control" formControlName="oldPassword"
                        placeholder="كلمة المرور القديمة" />
                    <a class="toggle-eye" (click)="togglePasswordVisibility('current')">
                        <i [class]="isHide ? 'fa-regular fa-eye-slash' : 'fa-regular fa-eye'"></i>
                    </a>
                    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: 'كلمة المرور الحالية مطلوبة',
                        control: formPassword.controls['oldPassword']
                        }"></ng-container>
                    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                        validation: 'pattern',
                        message: ' يجب أن تحتوي كلمة المرور على 8 أحرف على الأقل بما في ذلك حرف كبير وحرف صغير ورمز' ,
                        control: formPassword.controls['oldPassword']
                        }"></ng-container>
                </div>
            </div>

            <!-- new password -->
            <div class="row align-items-center g-3 mb-8">
                <div class="col-lg-2">
                    <label class="fs-6 text-gray-800">كلمة المرور الجديدة</label>
                </div>
                <div class="col-lg-8 position-relative">
                    <input [type]="isHideNew ? 'password' : 'text'" class="form-control" formControlName="password"
                        placeholder="كلمة المرور الجديدة" />
                    <a class="toggle-eye" (click)="togglePasswordVisibility('new')">
                        <i [class]="isHideNew ? 'fa-regular fa-eye-slash' : 'fa-regular fa-eye'"></i>
                    </a>
                    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: 'كلمة المرور الجديدة مطلوبة',
                        control: formPassword.controls['password']
                        }"></ng-container>
                    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                        validation: 'pattern',
                        message: ' يجب أن تحتوي كلمة المرور على 8 أحرف على الأقل بما في ذلك حرف كبير وحرف صغير ورمز' ,
                        control: formPassword.controls['password']
                        }"></ng-container>
                </div>
            </div>

            <!-- confirm password -->
            <div class="row align-items-center g-3 mb-8">
                <div class="col-lg-2">
                    <label class="fs-6 text-gray-800">تأكيد كلمة المرور الجديدة</label>
                </div>
                <div class="col-lg-8 position-relative">
                    <input [type]="isHideConfirm ? 'password' : 'text'" class="form-control"
                        formControlName="passwordConfirmation" placeholder="تأكيد كلمة المرور الجديدة" />
                    <a class="toggle-eye" (click)="togglePasswordVisibility('confirm')">
                        <i [class]="isHideConfirm? 'fa-regular fa-eye-slash': 'fa-regular fa-eye'"></i>
                    </a>
                    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: 'تأكيد كلمة المرور الجديدة مطلوبة',
                        control: formPassword.controls['passwordConfirmation']
                        }"></ng-container>
                    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                        validation: 'notMatch',
                        message: 'كلمتا المرور غير متطابقتين',
                        control: formPassword.controls['passwordConfirmation']
                        }"></ng-container>
                </div>
            </div>

            <div class="col-lg-10 d-flex justify-content-end">
                <button type="submit" class="btn btn-primary px-15" [disabled]="formPassword.invalid">
                    <span *ngIf="!isLoadingEdit">حفظ التغييرات</span>
                    <span *ngIf="isLoadingEdit">
                        يرجى الانتظار...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>



<!--control error msg -->
<ng-template #formError let-control="control" let-message="message" let-validation="validation">
    <ng-container *ngIf="
      control.hasError(validation) &&
      (control.dirty || (control.touched && control.errors))
    ">
        <div class="fv-plugins-message-container">
            <span class="text-danger" role="alert">
                {{ message }}
            </span>
        </div>
    </ng-container>
</ng-template>