<!--begin::Row-->
<div class="row gy-3 gx-4 gx-xl-4">
  <div class="col-md-12 col-lg-5 col-xl-4 col-xxl-4 mb-5 mb-xl-10">
    <app-cards-widget17 class="card card-stretch justify-center-content "
      style="background-color: #4B0082;"></app-cards-widget17>
  </div>
  <div class="col-md-12 col-lg-7 col-xl-8 col-xxl-8 mb-md-5 mb-xl-10">
    <app-cards-widget7 class="card card-stretch justify-center-content"></app-cards-widget7>
  </div>
  <!-- <app-engage-widget10 class="col-xxl-6" cssClass="h-md-100"></app-engage-widget10> -->
</div>
<!--end::Row-->

<!--begin::Row-->
<div class="row gx-4 gx-xl-4">
  <!--begin::Col-->
  <div class="col-xl-8 mb-5 mb-xl-10">
    <app-charts-widget1 class="card mb-5 h-xl-100 "></app-charts-widget1>
  </div>
  <!--end::Col-->

  <!--begin::Col-->
  <div class="col-xl-4 mb-5 mb-xl-10">
    <app-lists-widget4 class="card mb-5 h-xl-100"></app-lists-widget4>
  </div>
  <!--end::Col-->
</div>
<!--end::Row-->
<!--begin::Row-->
<div class="row gx-4 gx-xl-4">
  <!--begin::Col-->
  <div class="col-xl-8 mb-5 mb-xl-10">
    <app-new-charts-widget8 class="card mb-5 h-xl-100 "></app-new-charts-widget8>
  </div>
  <!--end::Col-->

  <!--begin::Col-->
  <div class="col-xl-4 mb-5 mb-xl-10">
    <app-semi-pie class="card mb-5 h-xl-100"></app-semi-pie>

  </div>
  <!--end::Col-->
</div>
<!--end::Row-->
<!-- begin::Row -->
<div class="row gy-5 gx-xl-8">
  <div class="col-xl-12">
    <app-tables-widget10 class="card card-xxl-stretch  mb-xl-3"></app-tables-widget10>
  </div>
</div>
<!-- end::Row -->