<div class="card mb-12">
  <div class="card-header border-0 pt-5 px-10 justify-content-between align-items-center">
    <h3 class="card-title m-0 text-gray-900 fs-3">
      الأمن والسلامة
    </h3>
  </div>

  <div class="card-body border-0 p-9">
    <form class="form" [formGroup]="formGroup">
      <div class="col-lg-12 fv-row mb-8">
        <label class="text-gray-700 fs-4 mb-2">نبذه قصيره عن الامن والسلامه</label>
        <p-editor formControlName="text" [style]="{ height: '320px'}" />
      </div>
      <div class="col-lg-12 fv-row mb-8">
        <input type="text" class="form-control form-control-lg" placeholder="الهاتف" name="name" />
      </div>
      <div class="d-flex justify-content-end mt-4">
        <button type="submit" class="btn btn-primary px-15">حفظ</button>
      </div>
    </form>
  </div>
</div>
<div class="card mb-12">
  <div class="card-body border-0 p-9">
    <form class="form mb-10" [formGroup]="formGroup">
      <div class="col-lg-12 fv-row mb-8">
        <label class="text-gray-700 fs-4 mb-2"> ارفاق تحذير</label>

        <input type="text" class="form-control form-control-lg" placeholder="العنوان" name="name" />
      </div>

      <p-editor formControlName="text" [style]="{ height: '320px'}" />
      <div class="my-8 ">
        <div class="mb-6 position-relative">
          <input type="file" class="form-control form-control-lg file1" [ngClass]="{ 'text-white': !isFileSelected1 }"
            (change)="onFileSelected1($event)">
          <span class="span-pic fs-5" *ngIf="!isFileSelected1">إرفاق فيديو/صورة</span>
        </div>
      </div>
      <div class="d-flex justify-content-end mt-4">
        <button type="submit" class="btn btn-primary px-15">حفظ</button>
      </div>
    </form>

  </div>
</div>
<div class="card mb-12">
  <div class="card-body d-flex flex-column justify-content-end p-5">
    <app-cards-widget20></app-cards-widget20>
    <div class="paginator-div d-flex justify-content-end align-items-center mt-10">
      <p-paginator [totalRecords]="40" [first]="1" [rows]="10" [rowsPerPageOptions]="[10, 25, 50,100]" />
    </div>
  </div>
</div>