.dropdown-toggle {
  background: #f8fafb;
}

.dropdown-toggle::after {
  display: none !important;
}

.actions .dropdown-item {
  padding-left: 36px;
  font-size: 14px;
}

.actions .dropdown-item i {
  padding-left: 0.3rem;
}

.report-box {
  transition: background-color 0.3s;
  height: 100%;
  cursor: pointer;
  &:hover {
      background-color: #ff8b00;

      .path-2 {
          fill: #fff !important;
      }
      path {
          stroke: #fff !important;
      }
      p {
          color: #fff !important;
      }
  }
}
