::ng-deep .p-radiobutton .p-radiobutton-box.p-highlight {
  border-color: #ff8b00;
}
::ng-deep .p-calendar.p-calendar-w-btn.p-calendar-timeonly{
  width: 100%;
  border: 1px solid #dbdfe9;
  border-radius: 0.625rem;
}
::ng-deep .p-calendar.p-calendar-w-btn{
  width: 100%!important;
  border: 1px solid #dbdfe9!important;
  border-radius: 0.625rem!important;
}
::ng-deep .p-radiobutton-icon {
  background-color: #ff8b00;
}

::ng-deep .p-radiobutton.p-radiobutton-checked:not(.p-radiobutton-disabled),
::ng-deep .p-radiobutton.p-radiobutton-checked:not(.p-radiobutton-disabled):hover {
  box-shadow: 0 0 1px 10px rgba(255, 140, 0, 10%);
  border-color: #ff8b00;
}

input[type="file"] {
  position: relative;
  width: 100%;
  padding-left: 150px;
}

input[type="file"]::file-selector-button {
  width: 80px;
  color: transparent;
  border-radius: inherit;
  background-color: #ebebeb;
}

.file1::before {
  position: absolute;
  pointer-events: none;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  height: 24px;
  width: 24px;
  content: "";
  background-image: url("../../../../assets/images/icons/img-orange.svg");
  background-repeat: no-repeat;
}

.span-pic {
  color: #99a1b7;
  position: absolute;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}


body[data-kt-app-layout="dark-sidebar"] .file1 {
  color: black !important;
}
