input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

// input[type="number"] {
//     // -moz-appearance: textfield;
// }

.pen-icon {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

::ng-deep .p-dropdown {
    border-color: var(--bs-gray-300);
}

::ng-deep .p-dropdown.p-focus,
::ng-deep .p-dropdown:focus {
    border-color: rgb(7 104 113) !important;
    box-shadow: 0 0 0 0.25rem rgb(7 104 113 / 25%) !important;
}
::ng-deep{
    input,textarea{
        background-color: rgba(245, 248, 250, 1) !important;
    }
}