.dropdown-toggle::after{
    display: none !important;
  }
  .actions .dropdown-item {
    padding-left: 36px;
    font-size: 14px;
  }
  .actions .dropdown-item i {
    padding-left: 0.3rem;
  }
td span{
font-weight: 400;
font-size: 15px;
line-height: 22px;
}