::ng-deep .p-editor-container {
    margin-bottom: 20px;
}

::ng-deep .p-radiobutton .p-radiobutton-box.p-highlight {
    border-color: #ff8b00;
}

::ng-deep .p-radiobutton-icon {
    background-color: #ff8b00;
}

::ng-deep .p-radiobutton.p-radiobutton-checked:not(.p-radiobutton-disabled),
::ng-deep .p-radiobutton.p-radiobutton-checked:not(.p-radiobutton-disabled):hover {
    box-shadow: 0 0 1px 10px rgba(255, 140, 0, 10%);
    border-color: #ff8b00;
}

input,
textarea {
    color: rgba(153, 154, 173, 1);
    box-shadow: none;
}

input::placeholder,
textarea::placeholder {
    color: rgba(153, 154, 173, 1);
}

::ng-deep .leaflet-control-attribution.leaflet-control {
    display: none !important;
}

::ng-deep .leaflet-top.leaflet-left {
    display: none;
}