<div class="card">
  <div class="card-header border-0 pt-5 px-10 justify-content-between align-items-center">
    <h3 class="card-title m-0 text-gray-900 fs-3">{{editMode? 'تعديل':'إضافة'}} موقع علي الخريطة</h3>
    <a class="text-gray-900 fs-3 d-flex align-items-center back-icon" routerLink="/location">عودة <i
        class="pi pi-angle-left fs-3"></i></a>
  </div>

  <div class="card-body border-0 p-9" [formGroup]="placeMapForm">
    <div class="my-3">
      <input type="text" class="form-control" formControlName="name" placeholder="المزار">
      <div *ngIf="placeMapForm.get('name')?.touched && placeMapForm.get('name')?.errors?.['required']"
        class="text-danger">
        برجاء ادخال المزار
      </div>
    </div>
    <div class=" mb-3">
      <textarea class="form-control" rows="3" formControlName="description" placeholder="الوصف التعريفي"></textarea>
      <div *ngIf="placeMapForm.get('description')?.touched && placeMapForm.get('description')?.errors?.['required']"
        class="text-danger">
        برجاء ادخال الوصف التعريفي
      </div>
    </div>
    <div class="d-flex flex-wrap gap-12 align-items-center my-8">
      <p class="text-gray-600 fs-4 m-0">نوع المزار</p>
      <div class="d-flex gap-12">
        <div *ngFor="let type of siteTypes" class="field-checkbox d-flex gap-3">
          <p-radioButton [value]="type.value" formControlName="classification" (click)="getIcon(type)" />
          <img [src]="type?.icon" class="px-2" width="30" alt="type.label">
          <label class="fs-5 text-gray-600">
            {{ type.label }}
          </label>
        </div>
      </div>
    </div>
    <div class=" my-8">
      <p class="text-gray-600 fs-4 m-0">المساحة الإجمالية</p>
      <div class="d-flex gap-12">
        <input type="number" class="form-control w-100" formControlName="totalArea"
          placeholder="المساحة الإجمالية (كم)">
      </div>
    </div>
    <p class="text-gray-600 fs-4">إدخال الموقع على الخريطة</p>
    <div class="my-8 d-flex flex-wrap align-items-center gap-3">
      <div class="text-gray-600 d-flex gap-3">
        <p-radioButton value="direct" [(ngModel)]="locationType" [ngModelOptions]="{standalone: true}" />
        <label class="fs-6 text-gray-600">
          على الخريطة مباشرة
        </label>
      </div>
      <div class="text-gray-600 d-flex gap-3">
        <p-radioButton value="manual" [(ngModel)]="locationType" [ngModelOptions]="{standalone: true}" />
        <label class="fs-6 text-gray-600">
          إدخال الإحداثيات
        </label>
      </div>
      <div class="text-gray-600 d-flex gap-3">
        <p-radioButton value="link" [(ngModel)]="locationType" [ngModelOptions]="{standalone: true}" />
        <label class="fs-6 text-gray-600">
          اضافة رابط
        </label>
      </div>
    </div>
    <div class=" mb-5 hidden">
      <div #mapContainer id="map" style="height: 400px; width: 100%;overflow: hidden;"
        [class.d-none]="locationType=='manual'||locationType=='link'"></div>
      @if (locationType=='manual') {
      <div class="manualInptsContainer d-block flex-column mt-3 mb-3" formGroupName="coordinates">
        <input type="number" placeholder="خط العرض" class="form-control mb-3" formControlName="latitude">
        <div
          *ngIf="placeMapForm.get('coordinates.latitude')?.touched && placeMapForm.get('coordinates.latitude')?.errors?.['required']"
          class="text-danger">
          برجاء ادخال خط العرض
        </div>
        <input type="number" placeholder="خط الطول" class="form-control" formControlName="longitude">
        <div
          *ngIf="placeMapForm.get('coordinates.longitude')?.touched && placeMapForm.get('coordinates.longitude')?.errors?.['required']"
          class="text-danger">
          برجاء ادخال خط الطول
        </div>
      </div>
      }
      @if (locationType=='link') {
      <div class="manualInptsContainer d-block flex-column mt-3 mb-3">
        <input type="text" placeholder="اضافة رابط" class="form-control">
      </div>
      }

    </div>
    <div class="d-flex justify-content-end">
      <button class="btn btn-primary px-15" type="submit" (click)="submitForm()">حفظ</button>
    </div>
  </div>
</div>
<swal #successSwal [swalOptions]="{ showCancelButton: false, confirmButtonText: 'موافق' }"
  title="تم اضافة الإحداثيات بنجاح!" text="" icon="success" [customClass]="{confirmButton: 'btn btn-primary'}">
</swal>
<swal #successSwal2 [swalOptions]="{ showCancelButton: false, confirmButtonText: 'موافق' }"
  title="تم اضافة موقع المزار بنجاح!" text="" icon="success" [customClass]="{confirmButton: 'btn btn-primary'}">
</swal>
<swal #deleteSwal [swalOptions]="swalOptions" title="حدث خطأ!" icon="error"
  [customClass]="{confirmButton: 'btn btn-danger'}" [showCancelButton]="false">
</swal>
<!-- <swal #error [swalOptions]="swalOptions" title="حدث خطأ!" icon="error"
  [customClass]="{confirmButton: 'btn btn-danger'}" [showCancelButton]="false">
</swal> -->
