::ng-deep .p-stepper-action {
    flex-direction: column;
}

::ng-deep .pi-arrow-right,
::ng-deep .pi-arrow-left {
    transform: rotate(180deg);
}

::ng-deep .p-radiobutton .p-radiobutton-box.p-highlight {
    border-color: #129fa5;
}

::ng-deep .p-radiobutton-icon {
    background-color: #129fa5;
}

::ng-deep .p-radiobutton.p-radiobutton-checked:not(.p-radiobutton-disabled),
::ng-deep .p-radiobutton.p-radiobutton-checked:not(.p-radiobutton-disabled):hover {
    box-shadow: 0 0 1px 10px rgba(255, 140, 0, 10%);
    border-color: #129fa5;
}

::ng-deep p-button button {
    border-radius: 4px !important;
    padding-inline: 20px;
}

::ng-deep .ql-editor {
    font-family: "Tajawal";
}

::ng-deep .leaflet-control-attribution.leaflet-control {
    display: none !important;
}

::ng-deep .leaflet-top.leaflet-left {
    display: none;
}

input[type="file"] {
    position: relative;
    width: 100%;
    padding-left: 150px;
}

input[type="file"]::file-selector-button {
    width: 80px;
    color: transparent;
    border-radius: inherit;
    background-color: #ebebeb;
}

.file::before {
    position: absolute;
    pointer-events: none;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    height: 24px;
    width: 24px;
    content: "";
    background-image: url("../../../../../assets/images/img/picture.svg");
    background-repeat: no-repeat;
}
.span-pic {
    color: #99a1b7;
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}
.video::before {
    position: absolute;
    pointer-events: none;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    height: 24px;
    width: 24px;
    content: "";
    background-image: url("../../../../../assets/images/img/video.svg");
    background-repeat: no-repeat;
}
.audio::before {
    position: absolute;
    pointer-events: none;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    height: 24px;
    width: 24px;
    content: "";
    background-image: url("../../../../../assets/images/img/record.svg");
    background-repeat: no-repeat;
}

::ng-deep .p-multiselect-label,
::ng-deep .p-multiselect-filter {
    padding: 0.775rem;
}

::ng-deep .p-multiselect-filter {
    border-color: var(--bs-gray-300);
}

::ng-deep .p-multiselect {
    width: 100%;
    border-color: var(--bs-gray-300);

    .p-checkbox {
        margin-inline: 10px;
    }
}

::ng-deep .p-multiselect.p-focus,
::ng-deep .p-multiselect:focus {
    border-color: rgb(7 104 113) !important;
    box-shadow: 0 0 0 0.25rem rgb(7 104 113 / 25%) !important;
}

:ng-deep .p-calendar.p-calendar-w-btn.p-calendar-12h {
    width: 100%;
    border: 1px solid #dbdfe9;
    border-radius: 0.625rem;
}

::ng-deep .p-calendar.p-calendar-w-btn {
    width: 100% !important;
    border: 1px solid #dbdfe9 !important;
    border-radius: 0.625rem !important;
}

::ng-deep .pdf-input .position-relative {
    margin: 0 !important;
}

::ng-deep .leaflet-container {
    cursor:
        url("../../../../../assets/images/img/icons8-map-pin-20.png") 20 20,
        auto;
}

::ng-deep .p-dropdown {
    width: 100%;
    border-color: var(--bs-gray-300);
    border-radius: 0.475rem;
    &:not(.p-disabled):hover {
        border-color: #dbdfe9;
    }
}

::ng-deep .p-dropdown-label {
    padding: 0.775rem;
}

::ng-deep .p-dropdown.p-focus,
::ng-deep .p-dropdown:focus {
    border-color: rgb(7 104 113) !important;
    box-shadow: 0 0 0 0.25rem rgb(7 104 113 / 25%) !important;
}

::ng-deep .p-dropdown-panel ul {
    padding: 0;
}
